:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  // background-attachment: fixed;
  background: url(/assets/bg.svg) no-repeat center;
  background-size: cover;
  .auth-card {
    max-width: 340px;
    max-height: 500px;
    background-color: rgba($color: #ffffff, $alpha: 1);
    margin: auto;

    form {
      font-size: 1.4em;
    }
  }
}
