<mat-card class="mat-elevation-z8 auth-card">
  <h4 class="mat-title">
    <span>
      Login
    </span>
  </h4>
  <div *ngIf="error$ | async as error" class="mat-caption">
    <app-message
      [messageType]="messageTypes.Error"
      [text]="error"
      [dismissable]="true"
    ></app-message>
  </div>

  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <form (ngSubmit)="login()" [formGroup]="form" fxFlex="100%">
        <div
          fxLayout="column"
          fxLayoutAlign="space-between stretch"
          fxLayoutGap="10px"
        >
          <mat-form-field>
            <mat-label>
              Username
            </mat-label>
            <mat-icon matPrefix color="primary">account_circle</mat-icon>
            <input
              matInput
              class="pl-2"
              formControlName="username"
              aria-autocomplete="false"
            />
            <mat-error
              *ngIf="
                form.get('username')?.hasError('required') &&
                form.get('username').touched
              "
            >
              {{ messageService.getMessageText("forms.required") }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>
              Password
            </mat-label>
            <mat-icon matPrefix color="primary">lock</mat-icon>
            <input
              matInput
              class="pl-2"
              [formControlName]="'password'"
              autocomplete="current-password"
              [attr.type]="visiblePwd ? 'text' : 'password'"
            />
            <button
              type="button"
              [color]="visiblePwd ? 'warn' : 'primary'"
              matSuffix
              mat-icon-button
              (click)="visiblePwd = !visiblePwd"
            >
              <mat-icon>{{
                visiblePwd ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                form.get('password')?.hasError('required') &&
                form.get('password').touched
              "
            >
              {{ messageService.getMessageText("forms.required") }}
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            [disabled]="isAuthenticating$ | async"
          >
            <strong>Login</strong>
          </button>
        </div>
      </form>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="mat-caption">
          All rights reserved {{ appName }} {{ year }}
        </div>
        <img [src]="appLogo" alt="AppLogo" width="30px" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
