@import "variables";
:host  {
  display: block;
  width: 100%;
  .breadcrumb-container {
    height: $breadcrumb-height;
    width: 100%;
    background-color: $breadcrumb-bg;
    display: flex;
    justify-content: start;
    align-items: stretch;
    .breadcrumb-link {
      color: $breadcrumb-fg;
      font-weight: 600;
      padding: 0.5em;
      text-decoration: none;
      outline: dotted;
      &:hover,
      &:focus {
        border-bottom: 1px solid;
      }
    }
  }
}
