@mixin fill {
  flex: 1 1 auto;
}
@mixin full-width {
  @include fill();
  width: 100%;
}
@mixin img-contain {
  object-fit: contain;
  max-width: 100%;
}
@mixin img-cover {
  max-width: 140%;
  object-fit: cover;
}
@mixin flex {
  display: flex;
}
@mixin stretch {
  justify-content: stretch;
  align-items: stretch;
}
@mixin start {
  justify-content: start;
  align-items: start;
}
@mixin end {
  justify-content: end;
  align-items: end;
}
@mixin center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
@mixin flex-row {
  @include flex();
  flex-direction: row;
  @include stretch();
}
@mixin flex-column {
  @include flex();
  flex-direction: column;
  @include stretch();
}
@mixin rounded {
  border-radius: 50%;
}
@mixin rounded-sm {
  border-radius: $round-sm;
}
@mixin rounded-md {
  border-radius: $round-md;
}
@mixin rounded-lg {
  border-radius: $round-lg;
}
@mixin no-round {
  border-radius: 0;
}
@mixin scroll {
  overflow: hidden;
  overflow-y: auto;
}

@mixin cards {
  .mat-card-content {
    @include flex-column();
  }
}
@mixin typography {
  .mat-card,
  .mat-small,
  .mat-caption,
  .mat-button,
  .mat-raised-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab,
  .mat-form-field {
    font-family: $font-primary;
  }
  .mat-h2,
  .mat-title,
  .mat-typography h2,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7,
  h8 {
    font-family: $font-secondary;
  }
}
@mixin bugfixes {
  .mat-form-field-prefix .mat-icon,
  .mat-form-field-suffix .mat-icon {
    margin-right: 1em;
  }
}
@mixin messages {
  .app-error {
    color: white;
    background-color: $app-error;
  }
  .app-warning {
    color: black;
    background-color: $app-warning;
  }
  .app-success {
    color: black;
    background-color: $app-success;
  }
  .app-info {
    color: black;
    background-color: $app-info;
  }
}
@mixin widgets {
  .app-widget {
    background-color: #fff;
    position: relative;
    box-shadow: $shadow-md;
    padding: 0;
    max-height: 100%;
    @include fill();
    @include flex-column();
    .app-widget__icon {
      margin-right: $spacing * 0.5;
    }
    *.app-widget__title {
      opacity: 0.8;
      font-family: $font-secondary;
      font-size: 120%;
      line-height: 1.6;
      font-weight: 900;
      margin: 0;
      margin-bottom: $spacing * 0.5;
      padding: $spacing;
      padding-bottom: 0;
      @include flex-row();
      @include start();
    }
    .app-widget__content {
      font-family: $font-primary;
      @include scroll();
      @include flex-column();
      @include fill();
      padding: $spacing * 0.5;
      p {
        padding: $spacing * 0.5;
      }
    }
  }
  .app-widget-list {
    @include flex-row();
    @include fill();
    padding: 0 $spacing;
    flex-wrap: wrap;
  }
}
