/*  Globals */
// -- Apearence
$default-bg: #d4e6f5;
$default-fg: #000;
$app-error: rgb(250, 11, 11);
$app-success: rgb(83, 241, 83);
$app-warning: rgb(245, 245, 86);
$app-info: rgb(196, 196, 250);
// -- Typography
$font-size: 14px;
$font-primary: "Source Sans Pro", sans-serif;
$font-secondary: "Montserrat", Arial, sans-serif;
$font-code: consolas, inconsolatas, monospace;
$font-lineheight: 1.4;
// -- Layout
$app-toolbar-height: 48px;
$spacing: 1em;
$container-spacing: 20px;
$round-sm: 7px;
$round-md: 14px;
$round-lg: 20px;

$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
$shadow-none: none;
/* MEnus */
$menu-width: 300px;
$menu-item-heigth: 45px;
$menu-item-margin-x: 1em;
$menu-item-margin-y: 10px;
$menu-item-padding-x: 1em;
$menu-item-padding-y: 1em;
$menu-item-boxshadow: $shadow;

/* Widgets */

/* Cards */
$layout: flex;
/* Dialog */
@media screen and (max-width: 680) {
  $small-width: 60vw;
}
@media screen and (max-width: 480) {
  $small-width: 90vw;
}
$small-width: 50vw;

/* Breadcrumbs */
$breadcrumb-bg: #fff !default;
$breadcrumb-fg: #333 !default;
$breadcrumb-font-family: $font-primary !default;
$breadcrumb-height: 2em !default;
