<section
  class="app-widget"
  [attr.href]="widget.url ? (widget.url | safe: 'url') : '#'"
>
  <h4 *ngIf="widget.title" class="app-widget__title">
    <app-icon [icon]="widget.icon"></app-icon>
    <span>
      {{ widget.title }}
    </span>
  </h4>
  <div class="app-widget__content">
    <ng-container [ngSwitch]="widget.type">
      <ng-container *ngSwitchCase="widgetEnum.Text">
        <ng-container [ngSwitch]="widget.content?.type">
          <ng-container *ngSwitchCase="textTypes.Brut">
            {{ widget.content.content }}
          </ng-container>
          <ng-container *ngSwitchCase="textTypes.HTML">
            {{ widget.content.content | safe: "html" }}
          </ng-container>
          <ng-container *ngSwitchCase="textTypes.Markdown">
            {{ widget.content.content | safe: "html" }}
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="widgetEnum.Statistic">
        <strong class="mat-heading">
          {{ widget.content.value || "--" }}
        </strong>
        <small class="mat-caption">
          {{ widget.content.name || "Unspecified" }}
        </small>
      </ng-container>

      <ng-container *ngSwitchCase="widgetEnum.Menu">
        <app-menu [menus]="widget.content"></app-menu>
      </ng-container>
      <ng-container *ngSwitchCase="widgetEnum.Feed">
        <ng-container [ngSwitch]="widget.content.type">
          <ng-container *ngSwitchCase="feedTypes.Audio">
            <audio [src]="widget.content.content | safe: 'resourceUrl'"></audio>
          </ng-container>
          <ng-container *ngSwitchCase="feedTypes.Video">
            <video [src]="widget.content.content | safe: 'resourceUrl'"></video>
          </ng-container>
          <ng-container *ngSwitchCase="feedTypes.Embed">
            <iframe
              width="100%"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              [src]="widget.content.content | safe: 'resourceUrl'"
              frameborder="0"
            ></iframe>
          </ng-container>
          <ng-container *ngSwitchCase="feedTypes.Gallery">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="4px">
              <div *ngFor="let item of widget.content?.content" fxFlex="120px">
                <img
                  [src]="item | safe: 'resourceUrl'"
                  alt=""
                  class="img-contain"
                />
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</section>
