<div
  *ngIf="dashboard$ | async as dashboard"
  class="app-widget-list"
  fxLayout="row"
  fxLayoutAlign="space-between start"
>
  <app-widget
    [widget]="widget"
    *ngFor="
      let widget of dashboard.widgets
        | where: ['layout.placement', 'top']
        | orderBy: ['layout', 'order'];
      let i = index
    "
    [style.padding-left.px]="i === 0 ? 0 : 10"
    [fxFlex]="
      dashboard.widgets?.length === i - 1
        ? 'flex'
        : widget.layout.xAxisRatio * 100
    "
    [style.height.px]="widget.layout.xAxisRatio * dashboardHeight"
    [style.max-height.px]="widget.layout.xAxisRatio * dashboardHeight"
  ></app-widget>
  <app-widget [widget]="usersWidget" style="margin-top: 10px;">
    <mat-advanced-table
      [columns]="userModelColumns"
      [data]="users$ | async"
    ></mat-advanced-table>
  </app-widget>
</div>
