<div
  *ngIf="dashboard$ | async as dashboard"
  class="app-widget-list"
  fxLayout="row"
  fxLayoutAlign="space-between start"
  fxLayoutGap="20px"
>
  <app-widget
    [widget]="widget"
    *ngFor="
      let widget of dashboard.widgets
        | where: ['layout.placement', 'top']
        | orderBy: ['layout', 'order']
    "
    fxFlex="calc({{ widget.layout.xAxisRatio * 100 }}%  - 20px)"
    [style.height.px]="widget.layout.xAxisRatio * dashboardHeight"
    [style.max-height.px]="widget.layout.xAxisRatio * dashboardHeight"
  ></app-widget>
  <app-widget [widget]="usersWidget" style="margin-top: 10px;">
    <ngx-mat-table-advanced
      [columns]="userModelColumns"
      [data]="users$ | async"
    ></ngx-mat-table-advanced>
  </app-widget>
</div>
